<!DOCTYPE html>
<html>
<head>
    <title>Gestíon de tu red</title>
    <link rel="stylesheet" type="text/css" href="/static/gestion.css">>
</head>
<body>
    <main>
    <div class="menu">            
        <ul>
            <img id="logo" src="/static/img/1.png" alt="Menú">
            <li><a href="/INICIO"><span class="imgNAV"><img src="/static/img/3.png" alt="Tu Imagen"></span><span class="title">DASHBOARD</span></a></li>
            <li><a href="/AJUSTES"><span class="imgNAV"><img src="/static/img/2.png" alt="Tu Imagen"></span><span class="title">AJUSTES</span></a></li>
            <li><a href="/TROUBLESHOOT"><span class="imgNAV"><img src="/static/img/8.png" alt="Tu Imagen"></span><span class="title">TROUBLESHOOT</span></a></li>
            <li><a href="/GESTION"><span class="imgNAV"><img src="/static/img/7.png" alt="Tu Imagen"></span><span class="title">GESTION</span></a></li>
            <li><a href="/ALERTAS"><span class="imgNAV"><img src="/static/img/4.png" alt="Tu Imagen"></span><span class="title">ALERTAS</span></a></li>
            <li><a href="/ESCANEO"><span class="imgNAV"><img src="/static/img/5.png" alt="Tu Imagen"></span><span class="title">ESCANEO</span></a></li>                
            <li><a href="/SSH"><span class="imgNAV"><img src="/static/img/6.png" alt="Tu Imagen"></span><span class="title">SSH</span></a></li>
        </ul>
    </div>

    <section id="BOX-GENERAL">
        <section id="BOX-1"></section>
        <section id="BOX-2">
            <div class="container">
                <h1>Alertas de Tu Red</h1>
                <div class="alert">
                    <div class="alert-header">
                        <h2>Alerta 1</h2>
                        <p>Fecha: 2023-09-24</p>
                    </div>
                    <div class="alert-description">
                        Esta es una alerta importante en tu red. Por favor, toma medidas.
                    </div>
                </div>
        
                <div class="alert">
                    <div class="alert-header">
                        <h2>Alerta 2</h2>
                        <p>Fecha: 2023-09-25</p>
                    </div>
                    <div class="alert-description">
                        Otra alerta en la red que requiere atención inmediata.
                    </div>
                </div>
            </div>
        </section>
    </section>

    
    
    </main>
</body>
</html>
