<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/static/img/1" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.inicio.css">
    <title>PYNET-SENTINEL</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <!-- Google Fonts and Icons -->
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />


</head>
<body>
    <main>
      
        <div class="menu">
            
            <ul>
                <img id="logo" src="/static/img/1.png" alt="Menú">
                <li><a href="/AJUSTES"><span class="imgNAV"><img src="/static/img/2.png" alt="Tu Imagen"></span><span class="title">AJUSTES</span></a></li>
                <li><a href="/TROUBLESHOOT"><span class="imgNAV"><img src="/static/img/8.png" alt="Tu Imagen"></span><span class="title">TROUBLESHOOT</span></a></li>
                <li><a href="/GESTION"><span class="imgNAV"><img src="/static/img/7.png" alt="Tu Imagen"></span><span class="title">GESTION</span></a></li>
                <li><a href="/ALERTAS"><span class="imgNAV"><img src="/static/img/4.png" alt="Tu Imagen"></span><span class="title">ALERTAS</span></a></li>
                <li><a href="/ESCANEO"><span class="imgNAV"><img src="/static/img/5.png" alt="Tu Imagen"></span><span class="title">ESCANEO</span></a></li>                
                <li><a href="/SSH"><span class="imgNAV"><img src="/static/img/6.png" alt="Tu Imagen"></span><span class="title">SSH</span></a></li>
            </ul>
        </div>


        <section id="MAIN-1">
          <section id="H3" >
            <div id="box1">
              <svg viewBox="65 80 2500 130">
                  <symbol id="s-text">
                      <text text-anchor="middle" x="53%" y="100%">PYNET-SENT</text>
                  </symbol>
        
                  <g class="g-ants">
                      <use xlink:href="#s-text" class="text-copy"></use>
                      <use xlink:href="#s-text" class="text-copy"></use>
                      <use xlink:href="#s-text" class="text-copy"></use>
                      <use xlink:href="#s-text" class="text-copy"></use>
                      <use xlink:href="#s-text" class="text-copy"></use>
                  </g>
              </svg>
          </div>
          </section>
          
          
            <section id="H1">
                <section id="A0"> 
                    <section id="A1">
                        <h1>30</h1>
                        <h2>Equipos de red</h2>
                    </section>
                    <section id="A2">
                        <h1>20</h1>
                        <h2>Equipos finales</h2>
                    </section>
                </section>
                
                <section id="B1">
                    <div class="table-wrapper">
                        <h1>Equipos Registrados</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre del Equipo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for host in hosts %}
                                <tr>
                                    <td>{{ host }}</td>
                                    <td>Pendiente</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
                </section>
    
                <section id="B2">
                  <section id="ping-status">
                    <h2>Estado del Ping</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre de Host</th>
                                <th>Dirección IP</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for host in hosts %}
                            <tr>
                              <td>{{ host.hostname }}</td>
                              <td>{{ host.ip }}</td>
                              <td>{{ host.status|safe }}</td>
                          </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
                </section>
            </section>


            

            <section id="H4">
                <section class="footer">
                    <div class="footer-row">
                      <div class="footer-col">
                        <h4>Info</h4>
                        <ul class="links">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Compressions</a></li>
                          <li><a href="#">Customers</a></li>
                          <li><a href="#">Service</a></li>
                          <li><a href="#">Collection</a></li>
                        </ul>
                      </div>
              
                      <div class="footer-col">
                        <h4>Get Help</h4>
                        <ul class="links">
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Returns</a></li>
                          <li><a href="#">Order Status</a></li>
                          <li><a href="#">Payment Options</a></li>
                        </ul>
                      </div>
              
                      <div class="footer-col">
                        <h4>Quick Links</h4>
                        <ul class="links">
                          <li><a href="#">Terms and Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Disclaimer</a></li>
                        </ul>
                      </div>
              
                      <div class="footer-col">
                        <h4>Newsletter</h4>
                        <p>
                          Subscribe to our newsletter for a weekly dose
                          of news, updates, helpful tips, and
                          exclusive offers.
                        </p>
                        <form action="#">
                          <input type="text" placeholder="Enter your email address" required>
                          <button type="submit">SUBSCRIBE</button>
                        </form>
                        <div class="icons">
                          <i class="fa-brands fa-facebook-f"></i>
                          <i class="fa-brands fa-twitter"></i>
                          <i class="fa-brands fa-instagram"></i>
                          <i class="fa-brands fa-youtube"></i>
                        </div>
                      </div>
                    </div>
                  </section>

            </section>


        </section>
        

    </main>
</body>
</html>